@model CourseWork_WebStore.Models.Category

<h2>Category Details</h2>

<div>
    <h4>Category Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

@if (Model.Products != null && Model.Products.Any())
{
    <div>
        <h4>Products in this Category</h4>
        <ul>
            @foreach (var product in Model.Products)
            {
                <li>@product.Name</li>
            }
        </ul>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
