@model IEnumerable<CourseWork_WebStore.Models.Category>

<h2 style="padding-top:10%">Categories</h2>

<p>
    <a asp-action="Create" style="padding-top:5%">Create New</a>
</p>

<table class="table" style="padding-top:5%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@category.CategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@category.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
